@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    margin: 0;
}

.nav-text {
    font-size: 18px;
    font-family: Lobster;
}

.nav-link {
    color: white;
}

.ativo {
    color: #FFA20E;
}

.bg-link {
    background-color: #FFA20E;
    border-radius: 5px;
    padding: 8px 16px ;
}

/* .logo-header {
    margin-left: 100px;
} */

.nav-header {
    margin-left: 50%;
}

.bg-color {
    background-color: #414141;
}

.nav-link:hover {
    color: #FFA20E;
}

.nav-t:hover {
    color: #414141;
}

.cor {
    background-color: #FFA20E;
    color: #000;
}

.logo-site {
    width: 100px;
    height: 100px;
}

/* Layout */
.flexFooter {
    display: flex;
    flex-direction: column-reverse;
}

footer {
    background-color: #414141;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
}

#social {
    margin-bottom: 25px;
  }

@media (max-width: 576px) {
    .nav-header {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    main {
        height: 100vh;
      }
    
      /* Rodapé */
      .flexFooter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    
      #social {
        margin: 0;
      }
    

}
