body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo-header {
    margin-left: 100px;
} */

.nav-header {
    margin-left: 50%;
}

.bg-color {
    background-color: #414141;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #FFA20E;
}

.cor {
    background-color: #FFA20E;
    color: #000;
}

.logo-site {
    width: 100px;
    height: 100px;
}

@media (max-width: 576px) {
    .nav-header {
        margin-top: 20px;
        margin-left: 20px;
    }
}
