body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo-header {
    margin-left: 100px;
} */

.nav-header {
    margin-left: 600px;
}

a img {
    width: 50px;
    height: 50px;
}

@media (max-width: 576px) {
    .nav-header {
        margin-left: 10px;
    }
}