<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jim Burger - Burgers Artesanais</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/logo-bg-amarelo.svg" type="image/x-icon">    
    
</head>
<body>
  <!-- Header -->
  <nav class="navbar navbar-expand-lg bg-color">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a href="../index.html"><img src="../img/Group 16.svg" alt="logo-site" class="logo-site"></a>
        <button class="navbar-toggler cor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
      <div class="collapse navbar-collapse nav-header" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-btn">
            <a class="nav-link" href="sobre.html">Sobre Nós</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link" href="cardapio.html">Cardápio</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link ativo" href="pedidos.html">Pedidos</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link" href="contato.html">Contato</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link nav-btn2 bg-btn" href="https://www.ifood.com.br/" target="_blank">Faça seu Pedido</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Section Pedidos -->
  <section class="section-pedidos">
    <div class="container-pedidos">
      <div class="conteudo-telefones">
        <h1>Telefones:</h1>
        <div class="telefones">
          <p><i class="bi bi-telephone telephone-pedidos"></i><span>(11)</span>4002-8922</p>
          <p><i class="bi bi-telephone telephone-pedidos"></i><span>(11)</span>8922-4002</p>
        </div>
      </div>
      <div class="conteudo-devices">
        <h1>Online:</h1>
        <a href="https://www.ifood.com.br" target="_blank"><img src="../img/multiple_devices1.png" alt="computador-tablet-celular"></a>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="container-fluid">
    <div class="container flexFooter">
      <div>
        <p>&#169;2022 - Jim Burger</p>
      </div>
      
      <div id="social">
        <a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook"></a>
      </div>
    </div>
  </footer>





  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
