<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jim Burger - Burgers Artesanais</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../img/logo-bg-amarelo.svg " type="image/x-icon">    
    
</head>
<body>
  <!-- Header -->
  <nav class="navbar navbar-expand-lg bg-color">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a href="../index.html"><img src="../img/Group-16.svg" alt="logo-site" class="logo-site"></a>
        <button class="navbar-toggler cor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
      <div class="collapse navbar-collapse nav-header" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-btn">
            <a class="nav-link ativo" href="sobre.html">Sobre Nós</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link" href="cardapio.html">Cardápio</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link" href="pedidos.html">Pedidos</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link" href="contato.html">Contato</a>
          </li>
          <li class="nav-item nav-btn">
            <a class="nav-link nav-btn2 bg-btn" href="https://www.ifood.com.br/" target="_blank">Faça seu Pedido</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Section Image -->
  <section class="imagem-principal">
  </section>
  <!-- Section Texto -->
  <section class="container section-texto">
    <hr>
    <div class="parte-texto">
      <h1>Origem do Nome</h1>
      <p>Os criadores da nossa hamburgueria sempre gostaram de <span>academia</span>, mas também muito de hamburger, com isso eles sempre procuravam uma maneira de achar com que o hamburger não interferisse em suas <span>dietas</span>. E para estarmos aqui hoje, é que eles conseguiram, e para homenagear a prórpia academia, um de nossos criadores teve a ideia de colocar Jim Burger, e o Jim vem de <span>"gym"</span>, o que é academia em inglês, só que eles prefiriram deixar de um jeito mais <span>"abrasileirado"</span>.</p>

      <h1>O lanche mais saudável e gostoso do Brasil!</h1>
      <p>Desde <span>2009</span>, originamos o <span>Jim Burger</span> na cidade de São Paulo, oferecendo uma opção mais saudável que as demais. Durante todos esses anos nós, sempre trabalhamos com o máximo de esforço e respeito aos nossos clientes, e com isso crescemos e ficamos conhecidos por todo estado de <span>São Paulo</span>, e esperamos crescer para o Brasil inteiro. Crescemos pela qualidade, e sempre nos preocuparmos com os clientes em primeiro lugar e também por fazer o seu hamburger mais saudável. Agradecemos vocês por escolherem a gente!</p>
    </div>
  </section>
  <!-- Footer -->
  <footer class="container-fluid">
    <div class="container flexFooter">
      <div>
        <p>&#169;2022 - Jim Burger</p>
      </div>
      
      <div id="social">
        <a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram"></a>
        <a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook"></a>
      </div>
    </div>
  </footer>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
